# This is a basic workflow to help you get started with Actions

name: Scan test

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  scan-test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Download test virii
      - name: Download EICAR test files
        run: |
          wget "https://secure.eicar.org/eicar.com.txt"
          wget "https://secure.eicar.org/eicar.com"
          wget "https://secure.eicar.org/eicar_com.zip"
          wget "https://secure.eicar.org/eicarcom2.zip"
      
      - name: Build image
        run: docker build -t gitavscan .
      
      - name: Run full scan:
        run: |
          docker run --rm -it -v $GITHUB_WORKSPACE:/scandir gitavscan --full

      - name: Run basic scan
        run: |
          docker run --rm -it -v $GITHUB_WORKSPACE:/scandir gitavscan  
